// .fade-in {
//     opacity:0;  /* make things invisible upon start */
//     -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
//     -moz-animation:fadeIn ease-in 1;
//     animation:fadeIn ease-in 1;

//     -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
//     -moz-animation-fill-mode:forwards;
//     animation-fill-mode:forwards;

//     -webkit-animation-duration:0.7s;
//     -moz-animation-duration:0.7s;
//     animation-duration:0.7s;
// }

// .fade-in.slow {
//     animation-delay:.4s;
// }

body {
    font-family: $raleway;
}

h1 {
    color: $main;
    font-size: 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 20px 0;
    a {
        color: $main;
    }
}

h2 {
    color: $main;
    font-size: 27px;    
    position: relative;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    color: $main;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

p {
    color: $main;
    font-size: 14px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    // opacity: .4;
    height: 102%;
    width: 100%;
    overflow: hidden;
}

img {
    width: 85%;
}

.menu {
    display: none;
}

.menu.open {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 100;
}

.col-xs-2 {
    padding-right: 0px;
}

.col-xs-6 {
    padding: 0px;
}

.lines-button {
    display: inline-block;
    // padding: $button-size/2 $button-size/4;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: $button-size/7;
    float: right;
    margin: 0px;
    width: 45px;
    height: 45px;
    color: black;


    &:hover {
      opacity: 1;
    }

    &:active {
      transition: 0.2s;
      // background: rgba(0,0,0,0);
    }
}

.lines {
    //create middle line
    @include line();
    position: relative; 

    /*create the upper and lower lines as pseudo-elements of the middle line*/
    &:before, &:after {

     @include line();
      position: absolute;
        left:0;
      content: '';
      transform-origin: $button-size/14 center;
    }
    &:before { top: $button-size/4; }
    &:after { top: -$button-size/4; }
}

// .lines-button:hover {
//     opacity: 1;
      
//     .lines {
//         &:before { top: $button-size/3.5; }
//         &:after { top: -$button-size/3.5; }
//     }
// }

.lines-button.x.close .lines{

    /*hide the middle line*/
    background: transparent;
    top: -5px;
    z-index: 200;

    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
        transform-origin: 50% 50%;
        top:0;
        width: $button-size;
        background: white;
    }

    // rotate the lines to form the x shape
    &:before{
        transform: rotate3d(0, 0, 1, 45deg); 
    }
    &:after{
        transform: rotate3d(0, 0, 1, -45deg); 
    }
}

.close {
    opacity: 1;
}

button {
    display: inline-block;
    margin: 0 1em;
    border: none;
    background: none;
}

button:focus {outline: none;}

.container-fluid.container.main-nav {
    position: absolute;
    top: 0;
}

a:hover {
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

.container-fluid {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
        .menu {
            list-style-type: none;
            text-decoration: none;
            padding: 140px 0;
            text-align: center;            
            font-weight: 700;
            letter-spacing: 3px;            
            text-transform: uppercase;
                li {
                    font-size: 50px;
                    margin: 30px 0;
                    list-style-type: none;
                        a {
                            color: white;
                        }
                }
        }
}

.container {
    // height: 100%;
    padding: 0;
    margin: 10px 30px 0 30px;
}

.header-wrapper {
    height: 100%;
    width: 100%;
    margin-right: 0;
    background-color: $header;
    opacity: .9;
}

.navicon {
    float: right;
    top: 4px;
    right: -10px;    
}

.subtitle-wrapper {
    position: absolute;
    top: 45%; 
} 

// PROJECTS STYLES -----------------

.projects-wrapper {
    width: 100%;
    margin: 20px 0;
}

.projects-images {
    // position: relative;
    text-align: center;
    margin: 10px 0;}

// FOOTER STYLES -------------------

.footer-wrapper {
    background-color: $footer;
    height: 320px;
    display: inline;
    width: 100%;
    text-align: center;
    float: left;
        li {
            list-style-type: none;
            margin: 40px;
        }
        ul {
            padding-top: 31px;
        }
}

.footer-font {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

// ABOUT PAGE STUFF -----------------
.about-wrapper {
    width: 100%;
    line-height: 24px;
    margin: 70px 0;
}

.resume-button {
    text-align: center;
    margin-top: 25px;
}

// BUTTON ---------------------------

.button {
    border-radius: 4px;
    background-color: #EDEDEC;
    border: none;
    color: #242324;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    width: 170px;
    cursor: pointer;
    margin: 5px;
        a {
            color: $main;
        }
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

// CONTACT STYLES -------------------

.contact-wrapper {
    margin-top: 70px;
    margin-bottom: 70px;
    li {
        list-style-type: none;
        a {
            color: $main;
        }
    }   
}

.h3-wrapper {
    h3 {
        font-size: 19px;
    }
}

.contact-list {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 2px;
}

.email-style {
    text-decoration: none;
}

.contact-title {
    margin-right: 40px;
    color: #999999;
    text-transform: uppercase;
    font-size: 12px;
}

.contact-info {
    margin-top: 20px;
    line-height: 40px;
    display: inline;
    padding: 0;
}

.contact-list:visited {
    text-decoration: none;
    color: $main;
}

//MEDIA QUERIES ----------------------

/* Portrait */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
}

/* Landscape */
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        img { 
            width: 60%;
        }
        .container-fluid .menu {
            padding: 0%;
        }   
    } 

/* Landscape */
@media only screen 
    and (min-device-width: 601px) 
    and (max-device-width: 750px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
        img { 
            width: 60%;
        }
        .container-fluid .menu {
            padding: 5% 0;
        }   
    }               
        


@media screen and (min-width: 480px) {
    .global-header header {
        max-width: 510px;
    }
}

@media screen and (min-width: 768px) {
    .global-header header {
        max-width: 800px;
    }
}

@media screen and (min-width: 992px) {
    .global-header header {
        max-width: 1020px;
    }
}

@media screen and (min-width: 1200px) {
    .global-header header {
        max-width: 1230px;  
    }   
    .container {
      width: 1100px;
    }
}

@media screen and (min-width: 1400px) {
    .global-header header {
        max-width: 1430px;
    }


}
   